<h1 align="center"> Naive Testing </h1>
<h3 align="center"> Christine Zhang </h3>

---

In [2]:
import numpy as np
import pandas as pd
import pickle

In [9]:
file_name = "datamaster"
file_object = open(file_name,'r')  
compiled_pd = pickle.load(file_object)
compiled_pd.tail(n=10)

,3,7,10,15,16,19,21,22,23,25,...,155493,155498,155502,155505,155510,155511,155513,155518,155520,Entrez_id
24695,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,8522.0
24696,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,2885.0
24697,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,2161.0
24698,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,1.000,0.000,1.000,0.00,0.00,27255.0
24699,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,1.000,1.000,0.00,0.00,23072.0
24700,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,6725.0
24701,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,9149.0
24702,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,6241.0
24703,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,8301.0
24704,2.473,2.142,3.38,3.374,3.123,3.779,3.471,2.625,4.677,2.751,...,3.071,5.351,3.929,3.912,4.913,3.755,1.712,4.61,5.46,0.0