<h1 align="center"> Naive Testing </h1>
<h3 align="center"> Christine Zhang </h3>

---

In [23]:
import numpy as np
import pandas as pd
import scipy as sp
import pickle
from sklearn import preprocessing
from sklearn.cross_validation import KFold
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis as QDA
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.tree import DecisionTreeClassifier as DecisionTree
from sklearn.ensemble import RandomForestClassifier as RandomForest
from sklearn.ensemble import RandomForestClassifier
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import confusion_matrix
import csv
from sklearn.svm import SVC
from sklearn import svm
from sklearn.cross_validation import train_test_split
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [24]:
file_name = "datamaster"
file_object = open(file_name,'r')  
compiled_pd = pickle.load(file_object)
compiled_pd.tail(n=10)

,3,7,10,15,16,19,21,22,23,25,...,155481,155493,155498,155502,155505,155510,155511,155513,155518,155520
Entrez_id,,,,,,,,,,,,,,,,,,,,,
8522.0,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00
2885.0,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00
2161.0,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00
27255.0,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,1.000,0.000,1.000,0.00,0.00
23072.0,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,0.00,0.00
6725.0,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00
9149.0,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00
6241.0,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00
8301.0,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00
0.0,2.473,2.142,3.38,3.374,3.123,3.779,3.471,2.625,4.677,2.751,...,2.469,3.071,5.351,3.929,3.912,4.913,3.755,1.712,4.61,5.46

In [27]:
no_auc_pd = compiled_pd.drop(compiled_pd.index[len(compiled_pd)-1])
no_auc_pd.tail(n=10)

,3,7,10,15,16,19,21,22,23,25,...,155481,155493,155498,155502,155505,155510,155511,155513,155518,155520
Entrez_id,,,,,,,,,,,,,,,,,,,,,
6608.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8522.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2885.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2161.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27255.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
23072.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
6725.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9149.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6241.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8301.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [98]:
no_auc_trans_pd = no_auc_pd.transpose()
no_auc_trans = no_auc_trans_pd.as_matrix()
np.shape(no_auc_trans)

(472, 24704)

In [99]:
auc_pd = compiled_pd.iloc[-1:]
auc = auc_pd.as_matrix()
auc = auc.reshape([472,1])
np.shape(auc)

(472, 1)

In [100]:
x_train, x_test, y_train, y_test = train_test_split(no_auc_trans, auc, test_size=0.5, random_state=42)

In [101]:
#Function for computing the accuracy a given model on the entire test set
score = lambda model, x_test, y_test: pd.Series([model.score(x_test, y_test)],
                                                index=['overall accuracy'])

In [108]:
from sklearn.linear_model import LinearRegression

clf = LinearRegression()
clf.fit(x_train, y_train)
print("LinearRegression")
print(clf.predict(x_test))
print(score(clf, x_test, y_test))

LinearRegression
[[ 5.49335675]
 [ 3.08522924]
 [ 3.5293703 ]
 [ 2.70978756]
 [ 3.50335145]
 [ 2.72993179]
 [ 3.16232434]
 [ 4.66717276]
 [ 2.08230009]
 [ 2.33788022]
 [ 4.41379577]
 [ 2.71680679]
 [ 3.49210536]
 [ 2.60662819]
 [ 3.365804  ]
 [ 3.91896837]
 [ 2.99192136]
 [ 3.4145195 ]
 [ 3.75799705]
 [ 2.63986226]
 [ 3.76942256]
 [ 2.37029083]
 [ 2.71205223]
 [ 3.2171918 ]
 [ 2.50429822]
 [ 3.10399717]
 [ 3.70579136]
 [ 1.42499032]
 [ 3.39872476]
 [ 5.74734216]
 [ 2.15126914]
 [ 3.26497178]
 [ 3.00376075]
 [ 2.67527285]
 [ 3.47424667]
 [ 3.98299479]
 [ 2.99514179]
 [ 2.29877962]
 [ 3.08555051]
 [ 3.47758751]
 [ 2.41672508]
 [ 1.83907281]
 [ 2.85826648]
 [ 4.43451548]
 [ 2.5414116 ]
 [ 3.49743153]
 [ 3.909336  ]
 [ 2.97196221]
 [ 3.63682268]
 [ 3.4855487 ]
 [ 2.09968571]
 [ 5.05116365]
 [ 1.94495002]
 [ 3.60458654]
 [ 2.69859188]
 [ 3.85567043]
 [ 3.55536599]
 [ 2.15425654]
 [ 2.56970681]
 [ 4.35366611]
 [ 3.78730523]
 [ 3.34735964]
 [ 3.04252779]
 [ 2.37518001]
 [ 1.1065548 ]
 [ 2.42508548]
 [ 1.78003336]
 [ 3.14942288]
 [ 2.24646066]
 [ 4.65531661]
 [ 2.94539182]
 [ 3.54036507]
 [ 1.95098283]
 [ 2.51340183]
 [ 3.84452942]
 [ 2.58229412]
 [ 4.17785485]
 [ 3.64761243]
 [ 2.09891238]
 [ 3.77714486]
 [ 3.51462526]
 [ 4.0184283 ]
 [ 3.56980826]
 [ 3.9905959 ]
 [ 4.17317478]
 [ 2.4372384 ]
 [ 2.61755577]
 [ 3.34434278]
 [ 2.5392885 ]
 [ 2.32811755]
 [ 4.12116917]
 [ 3.40697269]
 [ 0.68555451]
 [ 2.12308286]
 [ 3.34040691]
 [ 2.33865634]
 [ 2.77239631]
 [ 2.58649748]
 [ 3.20611877]
 [ 3.50918145]
 [ 1.66725416]
 [ 4.67466088]
 [ 3.30928021]
 [ 2.08583321]
 [ 4.05295548]
 [ 2.90382678]
 [ 1.83633552]
 [ 2.65828969]
 [ 2.7968551 ]
 [ 2.8048546 ]
 [ 3.8996512 ]
 [ 3.24726672]
 [ 3.91653292]
 [ 3.85647943]
 [ 3.09558476]
 [ 2.89661537]
 [ 4.33637732]
 [ 2.78271676]
 [ 4.28762812]
 [ 2.68637553]
 [ 3.1205217 ]
 [ 2.71694865]
 [ 3.8286078 ]
 [ 2.95558872]
 [ 4.68969013]
 [ 3.35572732]
 [ 3.16069514]
 [ 3.5739864 ]
 [ 3.23468671]
 [ 5.19972722]
 [ 2.18621548]
 [ 2.71549211]
 [ 2.36066549]
 [ 4.2938116 ]
 [ 1.8021131 ]
 [ 4.54755069]
 [ 3.93716192]
 [ 2.37263889]
 [ 2.23451314]
 [ 3.25873666]
 [ 4.6467183 ]
 [ 3.38857732]
 [ 3.7560553 ]
 [ 3.0523402 ]
 [ 2.79743709]
 [ 2.68733009]
 [ 2.63160964]
 [ 3.50317441]
 [ 3.53949347]
 [ 3.44305422]
 [ 2.62762545]
 [ 2.54072335]
 [ 2.69101729]
 [ 3.87718222]
 [ 2.46584515]
 [ 4.64438532]
 [ 3.51085578]
 [ 4.24414393]
 [ 3.91477305]
 [ 2.60772846]
 [ 3.47039141]
 [ 2.95715692]
 [ 4.33807809]
 [ 2.18315396]
 [ 3.32125586]
 [ 3.40815434]
 [ 3.23952524]
 [ 3.33756245]
 [ 3.86320155]
 [ 1.72391139]
 [ 2.70769306]
 [ 3.22500606]
 [ 1.77772598]
 [ 4.21617995]
 [ 3.47555866]
 [ 2.00975431]
 [ 2.95583165]
 [ 3.67767523]
 [ 3.47202396]
 [ 4.01747057]
 [ 1.58768639]
 [ 3.6838915 ]
 [ 4.24980551]
 [ 3.56487965]
 [ 2.40451232]
 [ 2.44041972]
 [ 2.45259644]
 [ 2.76178099]
 [ 3.03855284]
 [ 1.56592696]
 [ 4.27182563]
 [ 3.96626526]
 [ 3.48555798]
 [ 3.03646582]
 [ 3.73965134]
 [ 3.19495672]
 [ 2.15730807]
 [ 2.71058429]
 [ 3.28867816]
 [ 2.21018367]
 [ 0.937305  ]
 [ 4.1581163 ]
 [ 2.510666  ]
 [ 4.35756915]
 [ 2.42754197]
 [ 3.89099123]
 [ 1.98698197]
 [ 2.92751276]
 [ 1.55411918]
 [ 2.47055037]
 [ 3.20512514]
 [ 3.02503725]
 [ 1.7456326 ]
 [ 4.03078717]
 [ 4.33055109]
 [ 4.29708144]
 [ 3.21893604]
 [ 1.98119049]
 [ 4.90888363]
 [ 3.4906822 ]
 [ 2.27569288]
 [ 2.48593271]
 [ 3.31319267]
 [ 2.11582883]
 [ 3.29126612]
 [ 3.33612345]
 [ 3.87008319]
 [ 3.03118027]
 [ 3.3315165 ]
 [ 3.74494134]
 [ 3.46763878]
 [ 3.55163872]
 [ 2.84439911]
 [ 2.3518961 ]
 [ 3.23680432]
 [ 2.46155128]]
overall accuracy   -0.624147
dtype: float64

In [111]:
# clf = LogisticRegression()
# clf.fit(x_train, y_train)
# print("LogisticRegression")
# print(clf.predict(x_test))