In [2]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

<h1 align="center"> Gene Selection </h1>
<h3 align="center"> Christine Zhang </h3>

----

In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import pickle
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
%matplotlib inline

In [2]:
ccl_pd = pd.read_csv('datasets_498/masterccleids.csv', header=None, sep =",")
ccl = ccl_pd.as_matrix()
ccl_pd.head()

,0,1,2,3,4,5,6,7,8,9,...,488,489,490,491,492,493,494,495,496,497
0,3,7,10,15,16,19,21,22,23,25,...,1271,1273,1278,1279,1280,1281,1282,1283,1285,1286

In [3]:
auc_trans_pd = pd.read_csv('datasets_498/auc.csv', names = ccl[0], sep =",")
auc_trans_pd.head()

,3,7,10,15,16,19,21,22,23,25,...,1271,1273,1278,1279,1280,1281,1282,1283,1285,1286
0,2.473,2.142,3.38,3.374,3.123,3.779,3.471,2.625,4.677,2.751,...,2.469,3.071,5.351,3.929,3.912,4.913,3.755,1.712,4.61,5.46

In [4]:
auc_pd = auc_trans_pd.transpose()
auc = auc_pd.as_matrix()
auc_pd.head()

        0
3   2.473
7   2.142
10  3.380
15  3.374
16  3.123

In [5]:
geneexp_header_pd = pd.read_csv('datasets_498/geneexp_entrezid.csv', header = None, sep =",")
geneexp_header = geneexp_header_pd.as_matrix()
print geneexp_header_pd.shape
geneexp_header_pd.head()

(18543, 1)

           0
0  100009676
1      10000
2      10001
3      10002
4      10003

In [6]:
geneexp_values_pd = pd.read_csv('datasets_498/geneexp_values.csv', names = ccl[0], sep =",")
geneexp_values = geneexp_values_pd.as_matrix()
print geneexp_values_pd.shape
geneexp_values_pd.set_index(geneexp_header, inplace=True)
geneexp_values_pd.head()

(18543, 498)

,3,7,10,15,16,19,21,22,23,25,...,1271,1273,1278,1279,1280,1281,1282,1283,1285,1286
100009676,5.979812,6.079415,5.373842,6.025009,5.444892,5.838828,6.044784,6.110702,5.957453,5.353808,...,5.914540,5.449070,5.509434,6.467376,5.225789,5.056441,5.648520,5.431827,5.229068,5.173519
10000,6.595651,4.521625,6.631749,7.510764,7.544216,7.328450,8.240295,7.339923,7.133862,8.464749,...,8.165614,7.180522,5.359294,6.755762,6.430797,6.566739,6.907085,6.997253,5.847498,4.367224
10001,9.663415,8.845639,10.001350,9.289334,8.715909,8.410834,9.613478,9.227492,8.561879,8.308694,...,8.862251,8.676574,9.098502,9.503690,9.022547,9.840038,9.083045,8.351265,9.277778,9.036209
10002,4.040661,3.768181,3.610522,3.685390,4.173643,3.776557,4.021159,3.547729,3.898854,3.589157,...,3.709869,3.704990,4.277868,4.014417,4.223398,3.986096,4.068887,3.556416,4.645180,4.055940
10003,4.159523,4.044822,4.242035,3.656942,3.663081,4.047007,4.597602,4.252498,3.742255,3.612253,...,3.764959,4.515754,3.751250,3.879979,3.825131,3.752928,3.977737,3.786633,3.665520,3.903062

In [7]:
mutation_header_pd = pd.read_csv('datasets_498/mutation_hugo.csv', header = None, sep = " ")
mutation_header = mutation_header_pd.as_matrix()
print mutation_header_pd.shape
mutation_header_pd.head()

(3235, 1)

                                0
0   'AAK1_p._ANY_CODING_MUTATION'
1                   'AAK1_p.Q541'
2           'AAK1_p.Q541indel2>Q'
3   'AATK_p._ANY_CODING_MUTATION'
4  'ABCA3_p._ANY_CODING_MUTATION'

In [8]:
mutation_values_pd = pd.read_csv('datasets_498/mutation_value.csv', names = ccl[0], sep =",")
mutation_values = mutation_values_pd.as_matrix()
print mutation_values_pd.shape
mutation_values_pd = mutation_values_pd.astype('float64')
# mutation_values_pd.set_index(mutation_header, inplace=True)
mutation_values_pd.head()

(3235, 498)

,3,7,10,15,16,19,21,22,23,25,...,1271,1273,1278,1279,1280,1281,1282,1283,1285,1286
0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
copynum_header_pd = pd.read_csv('datasets_498/copynum_entrezid.csv', header = None, sep =",")
copynum_header = copynum_header_pd.as_matrix()
print copynum_header_pd.shape
copynum_header_pd.head()

(23174, 1)

        0
0       1
1  503538
2   29974
3       2
4  144571

In [10]:
copynum_values_pd = pd.read_csv('datasets_498/copynum_values.csv', names = ccl[0], sep =",")
copynum_values = copynum_values_pd.as_matrix()
print np.shape(copynum_values_pd)
copynum_values_pd.set_index(copynum_header, inplace=True)
copynum_values_pd.head()

(23174, 498)

,3,7,10,15,16,19,21,22,23,25,...,1271,1273,1278,1279,1280,1281,1282,1283,1285,1286
1,-0.0324,-0.0762,0.0346,0.2934,0.0463,-0.2432,0.0985,-0.1109,0.1655,0.7457,...,-0.2609,-0.3295,-0.5956,-0.5522,-0.0281,-0.1666,0.5718,0.2424,0.1895,0.4302
503538,-0.0324,-0.0762,0.0346,0.2934,0.0463,-0.2432,0.0985,-0.1109,0.1655,0.7457,...,-0.2609,-0.3295,-0.5956,-0.5522,-0.0281,-0.1666,0.5718,0.2424,0.1895,0.4302
29974,-0.4928,-0.0025,-0.0522,-0.3050,0.0436,0.1438,-0.3561,-0.1415,-0.3390,-0.1974,...,-0.1827,-0.1941,0.2785,0.0867,0.1208,0.2966,-0.9912,-0.1204,0.0398,0.1423
2,-0.0657,0.4486,-0.3816,0.1603,-0.0112,0.0006,-0.1888,-0.1786,0.2086,-0.8266,...,-0.1841,-0.3723,0.4479,0.0099,0.3918,-0.1186,0.0701,-0.1141,0.9592,0.1203
144571,-0.0657,0.4486,-0.3816,0.1603,-0.0112,0.0006,-0.1888,-0.1786,0.2086,-0.8266,...,-0.1841,-0.3723,0.4479,0.0099,0.3918,-0.1186,0.0701,-0.1141,0.9592,0.1203

In [11]:
exp_cn_trans_pd = pd.concat([copynum_values_pd, geneexp_values_pd])
exp_cn_trans = exp_cn_trans_pd.as_matrix()
print exp_cn_trans_pd.shape
exp_cn_trans_pd.head()

(41717, 498)

,3,7,10,15,16,19,21,22,23,25,...,1271,1273,1278,1279,1280,1281,1282,1283,1285,1286
1,-0.0324,-0.0762,0.0346,0.2934,0.0463,-0.2432,0.0985,-0.1109,0.1655,0.7457,...,-0.2609,-0.3295,-0.5956,-0.5522,-0.0281,-0.1666,0.5718,0.2424,0.1895,0.4302
503538,-0.0324,-0.0762,0.0346,0.2934,0.0463,-0.2432,0.0985,-0.1109,0.1655,0.7457,...,-0.2609,-0.3295,-0.5956,-0.5522,-0.0281,-0.1666,0.5718,0.2424,0.1895,0.4302
29974,-0.4928,-0.0025,-0.0522,-0.3050,0.0436,0.1438,-0.3561,-0.1415,-0.3390,-0.1974,...,-0.1827,-0.1941,0.2785,0.0867,0.1208,0.2966,-0.9912,-0.1204,0.0398,0.1423
2,-0.0657,0.4486,-0.3816,0.1603,-0.0112,0.0006,-0.1888,-0.1786,0.2086,-0.8266,...,-0.1841,-0.3723,0.4479,0.0099,0.3918,-0.1186,0.0701,-0.1141,0.9592,0.1203
144571,-0.0657,0.4486,-0.3816,0.1603,-0.0112,0.0006,-0.1888,-0.1786,0.2086,-0.8266,...,-0.1841,-0.3723,0.4479,0.0099,0.3918,-0.1186,0.0701,-0.1141,0.9592,0.1203

In [12]:
exp_cn_pd = exp_cn_trans_pd.transpose()
exp_cn = exp_cn_pd.as_matrix()

In [13]:
linreg = LinearRegression()
svr_rbf = SVR(kernel = "rbf")
svr_lin = SVR(kernel = "linear")
rf = RandomForestRegressor()
lasso = linear_model.Lasso(alpha=0.1)
net = linear_model.ElasticNet(alpha=0.1)

# test naive models
def test_model (model):
    clf = model
    clf.fit(x_train_pca, y_train)
    y_pred = clf.predict(x_test_pca)
    r2 = clf.score(x_test_pca, y_test)
    return y_pred, r2

def draw_plot (ax, y_pred, title, y_score):
    y_pred = y_pred.flatten()
    ax.scatter(y_pred, y_test)
    ax.plot(np.unique(y_pred), np.poly1d(np.polyfit(y_pred, y_test, 1))(np.unique(y_pred)))
    ax.set_title("%s r2 accuracy: %s" %(title, round(y_score, 3)))
    ax.set_xlabel("Predicted AUC")
    ax.set_ylabel("Actual AUC")
    return plt

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(exp_cn, auc, test_size=0.2, random_state=42)
y_test = y_test.flatten()
y_train = y_train.flatten()
pca = PCA(n_components=50)
pca.fit(x_train)    
x_train_pca = pca.transform(x_train)
x_test_pca = pca.transform(x_test)
print "Amount of Variance explained by each component: ", pca.explained_variance_ratio_
print "Total Variance Captured", np.sum(pca.explained_variance_ratio_)

Amount of Variance explained by each component:  [ 0.09721839  0.05087327  0.0288741   0.02571524  0.02219551  0.01830684
  0.01751177  0.01514745  0.01359782  0.01199555  0.01136546  0.01068596
  0.01011821  0.00974531  0.00964165  0.00884071  0.00877427  0.00852568
  0.00828039  0.00789349  0.00761318  0.00752311  0.00726144  0.00686052
  0.00675722  0.00641422  0.00631374  0.00605406  0.00595557  0.00580984
  0.00572493  0.00542698  0.00532276  0.0052461   0.00517705  0.00509565
  0.0049481   0.00492701  0.00476818  0.00461051  0.00449897  0.00447278
  0.00435597  0.00427014  0.00415099  0.00406077  0.0039679   0.00396013
  0.00384165  0.00374503]
Total Variance Captured 0.554441546618

In [ ]:
# calculated r_2 values
y_pred_linreg_PCA, r2_linreg_PCA = test_model (linreg)
y_pred_svr_rbf_PCA, r2_svr_rbf_PCA = test_model (svr_rbf)
y_pred_svr_lin_PCA, r2_svr_lin_PCA = test_model (svr_lin)
y_pred_rf_PCA, r2_rf_PCA = test_model (rf)
y_pred_lasso_PCA, r2_lasso_PCA = test_model (lasso)
y_pred_net_PCA, r2_net_PCA = test_model (net)

fig_all, ax = plt.subplots(2, 3, figsize=(20, 10))
ax[0,0] = draw_plot (ax[0,0], y_pred_linreg_PCA, "Linear Regression", r2_linreg_PCA)
ax[0,1] = draw_plot (ax[0,1], y_pred_svr_rbf_PCA, "SVR RBF", r2_svr_rbf_PCA)
ax[0,2] = draw_plot (ax[0,2], y_pred_svr_lin_PCA, "SVR Lin", r2_svr_lin_PCA)
ax[1,0] = draw_plot (ax[1,0], y_pred_rf_PCA, "Random Forest", r2_rf_PCA)
ax[1,1] = draw_plot (ax[1,1], y_pred_lasso_PCA, "Lasso", r2_lasso_PCA)
ax[1,2] = draw_plot (ax[1,2], y_pred_net_PCA, "Elastic Net", r2_net_PCA)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(exp_cn, auc, test_size=0.2, random_state=42)
y_test = y_test.flatten()
y_train = y_train.flatten()

In [ ]:
# calculated r_2 values
y_pred_linreg_PCA, r2_linreg_PCA = test_model (linreg)
y_pred_svr_rbf_PCA, r2_svr_rbf_PCA = test_model (svr_rbf)
y_pred_svr_lin_PCA, r2_svr_lin_PCA = test_model (svr_lin)
y_pred_rf_PCA, r2_rf_PCA = test_model (rf)
y_pred_lasso_PCA, r2_lasso_PCA = test_model (lasso)
y_pred_net_PCA, r2_net_PCA = test_model (net)

fig_all, ax = plt.subplots(2, 3, figsize=(20, 10))
ax[0,0] = draw_plot (ax[0,0], y_pred_linreg_PCA, "Linear Regression", r2_linreg_PCA)
ax[0,1] = draw_plot (ax[0,1], y_pred_svr_rbf_PCA, "SVR RBF", r2_svr_rbf_PCA)
ax[0,2] = draw_plot (ax[0,2], y_pred_svr_lin_PCA, "SVR Lin", r2_svr_lin_PCA)
ax[1,0] = draw_plot (ax[1,0], y_pred_rf_PCA, "Random Forest", r2_rf_PCA)
ax[1,1] = draw_plot (ax[1,1], y_pred_lasso_PCA, "Lasso", r2_lasso_PCA)
ax[1,2] = draw_plot (ax[1,2], y_pred_net_PCA, "Elastic Net", r2_net_PCA)

In [ ]:
file_name = "datasets_498/gene_lst_pd"
file_object = open(file_name,'r')  
gene_lst_pd = pickle.load(file_object)
entrez_lst = np.array(gene_lst_pd["Entrez_id"])

In [ ]:
index_lst = [i for [i] in exp_cn_trans_pd.index]
intersection_values = np.intersect1d(index_lst, entrez_lst)
intersection_auc = np.intersect1d(auc.flatten(), entrez_lst)

In [ ]:
exp_cn_intersect_trans_pd = exp_cn_trans_pd.loc[intersection_values,:]
exp_cn_intersect_trans_pd.head()

In [ ]:
exp_cn_intersect_pd = exp_cn_intersect_trans_pd.transpose()
exp_cn_intersect = exp_cn_intersect_pd.as_matrix()

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(exp_cn_intersect, auc, test_size=0.2, random_state=42)
y_test = y_test.flatten()
y_train = y_train.flatten()
pca = PCA(n_components=50)
pca.fit(x_train)    
x_train_pca = pca.transform(x_train)
x_test_pca = pca.transform(x_test)
print "Amount of Variance explained by each component: ", pca.explained_variance_ratio_
print "Total Variance Captured", np.sum(pca.explained_variance_ratio_)

In [ ]:
# calculated r_2 values
y_pred_linreg_PCA, r2_linreg_PCA = test_model (linreg)
y_pred_svr_rbf_PCA, r2_svr_rbf_PCA = test_model (svr_rbf)
y_pred_svr_lin_PCA, r2_svr_lin_PCA = test_model (svr_lin)
y_pred_rf_PCA, r2_rf_PCA = test_model (rf)
y_pred_lasso_PCA, r2_lasso_PCA = test_model (lasso)
y_pred_net_PCA, r2_net_PCA = test_model (net)

fig_all, ax = plt.subplots(2, 3, figsize=(20, 10))
ax[0,0] = draw_plot (ax[0,0], y_pred_linreg_PCA, "Linear Regression", r2_linreg_PCA)
ax[0,1] = draw_plot (ax[0,1], y_pred_svr_rbf_PCA, "SVR RBF", r2_svr_rbf_PCA)
ax[0,2] = draw_plot (ax[0,2], y_pred_svr_lin_PCA, "SVR Lin", r2_svr_lin_PCA)
ax[1,0] = draw_plot (ax[1,0], y_pred_rf_PCA, "Random Forest", r2_rf_PCA)
ax[1,1] = draw_plot (ax[1,1], y_pred_lasso_PCA, "Lasso", r2_lasso_PCA)
ax[1,2] = draw_plot (ax[1,2], y_pred_net_PCA, "Elastic Net", r2_net_PCA)

In [ ]:
print copynum_values_pd.shape
print geneexp_values_pd.shape
print exp_cn_intersect_trans_pd.shape
print exp_cn_trans_pd.shape

In [60]:
# plus_intersect_pd = pd.concat([exp_cn_trans_pd, exp_cn_intersect_trans_pd])
# plus_intersect = plus_intersect_pd.as_matrix()
# print plus_intersect_pd.shape
# plus_intersect_pd.head()