In [23]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

<h1 align="center"> Data Compilation </h1>
<h3 align="center"> Christine Zhang </h3>

---

## Mutation Data Prep

---

In [81]:
import numpy as np
import pandas as pd
import pickle

In [82]:
mut_pd = pd.read_csv('../Seashore-ludlow/v22.anno.ccl_mut_features.txt', sep ="\t")
mut_pd["entrez_id"] = mut_pd["hugo_gene_symbol"]
mut_pd.head()

,mutation_call,hugo_gene_symbol,cell_line_feature,index_ccl,entrez_id
0,CCLE Hybrid Capture Mutations,AAK1,AAK1_p._ANY_CODING_MUTATION,2;3;4;6;7;8;10;12;13;15;16;18;19;20;22;23;24;28;29;30;31;33;35;36;37;38;39;40;42;43;44;45;46;47;48;50;56;57;60;63;64;69;70;72;86;87;89;95;101;102;108;109;113;116;117;120;121;126;127;128;129;130;131;132;133;134;135;136;137;138;141;142;143;145;146;147;148;150;151;152;156;157;158;159;161;165;166;168;170;171;173;174;175;176;180;181;182;185;189;191;193;195;198;201;202;205;206;207;208;210;218;219;220;221;223;226;229;235;236;238;240;241;243;244;245;246;247;248;249;252;258;259;260;266;268;271;276;278;281;282;287;291;293;294;295;301;303;305;307;308;310;311;313;314;315;318;320;321;322;327;328;331;333;339;342;345;347;350;351;357;360;364;366;367;369;373;374;375;376;381;382;383;384;386;389;390;391;392;394;397;400;401;403;406;409;411;415;416;417;421;423;425;426;427;432;433;435;437;439;440;441;442;443;445;447;449;452;455;456;458;461;462;464;467;469;471;472;473;477;478;479;480;481;482;483;484;487;488;490;491;492;493;494;496;498;500;505;508;509;511;512;513;517;519;522;526;527;531;535;537;540;541;54...,AAK1
1,CCLE Hybrid Capture Mutations,AAK1,AAK1_p.Q541,2;3;4;6;7;8;10;12;13;15;16;18;19;20;22;23;24;28;29;30;31;33;35;36;37;38;39;40;42;43;44;45;46;47;48;50;56;57;60;63;64;69;70;72;86;87;89;95;101;102;108;109;113;116;117;120;121;126;127;129;130;131;132;133;134;135;136;137;138;141;142;143;145;146;147;148;151;152;156;157;158;159;161;165;166;168;170;171;173;174;175;176;180;181;182;185;189;191;193;195;198;201;202;205;206;207;208;210;218;219;220;221;223;226;229;235;236;238;240;241;243;244;245;246;247;248;249;252;258;259;260;266;268;271;276;278;281;282;287;291;293;294;295;301;303;305;307;308;310;311;313;314;315;318;320;321;322;327;328;331;333;339;342;345;347;350;351;357;360;364;366;367;369;373;374;375;376;381;382;383;384;386;389;390;391;392;394;397;400;401;403;406;409;411;415;416;417;421;423;425;426;427;432;433;435;437;439;440;441;442;443;445;447;449;452;455;456;458;461;462;464;467;469;471;472;473;477;478;479;480;481;482;483;484;487;488;490;491;492;493;494;496;500;505;508;509;511;512;513;517;519;522;526;527;531;535;537;540;541;542;544;545;54...,AAK1
2,CCLE Hybrid Capture Mutations,AAK1,AAK1_p.Q541indel2>Q,2;3;4;6;7;8;10;12;13;15;16;18;19;20;22;23;24;28;29;30;31;33;35;36;37;38;39;40;42;43;44;45;46;47;48;50;56;57;60;63;64;69;70;72;86;87;89;95;101;102;108;109;113;116;117;120;121;126;127;129;130;131;132;133;134;135;136;137;138;141;142;143;145;146;147;148;151;152;156;157;158;159;161;165;166;168;170;171;173;174;175;176;180;181;182;185;189;191;193;195;198;201;202;205;206;207;208;210;218;219;220;221;223;226;229;235;236;238;240;241;243;244;245;246;247;248;249;252;258;259;260;266;268;271;276;278;281;282;287;291;293;294;295;301;303;305;307;308;310;311;313;314;315;318;320;321;322;327;328;331;333;339;342;345;347;350;351;357;360;364;366;367;369;373;374;375;376;381;382;383;384;386;389;390;391;392;394;397;400;401;403;406;409;411;415;416;417;421;423;425;426;427;432;433;435;437;439;440;441;442;443;445;447;449;452;455;456;458;461;462;464;467;469;471;472;473;477;478;479;480;481;482;483;484;487;488;490;491;492;493;494;496;500;505;508;509;511;512;513;517;519;522;526;527;531;535;537;540;541;542;544;545;54...,AAK1
3,CCLE Hybrid Capture Mutations,AATK,AATK_p._ANY_CODING_MUTATION,38;60;72;114;126;145;149;157;183;207;226;269;303;312;368;386;395;410;432;440;500;568;571;631;651,AATK
4,CCLE Hybrid Capture Mutations,ABCA3,ABCA3_p._ANY_CODING_MUTATION,8;36;52;67;113;126;127;128;130;131;132;133;135;136;137;145;157;162;171;183;185;193;195;197;198;205;209;210;249;305;319;333;343;351;358;361;430;483;500;501;543;556;589;595;637;644;653,ABCA3

### Hugo to Entrez Conversion

---

In [83]:
entrez_pd = pd.read_csv('../EntrezID.txt', skiprows = [0], sep ="\t", names = ["Hugo", "Symbol", "Entrez_ID"]) 
entrez_pd.head(n=10)

         Hugo           Symbol    Entrez_ID
0      HGNC:5             A1BG          1.0
1  HGNC:37133         A1BG-AS1     503538.0
2  HGNC:24086             A1CF      29974.0
3      HGNC:6  A1S9T~withdrawn          NaN
4      HGNC:7              A2M          2.0
5  HGNC:27057          A2M-AS1     144571.0
6  HGNC:23336            A2ML1     144568.0
7  HGNC:41022        A2ML1-AS1  100874108.0
8  HGNC:41523        A2ML1-AS2  106478979.0
9      HGNC:8            A2MP1          3.0

In [ ]:
for symbol in mut_pd["hugo_gene_symbol"]:
    entrez_index = entrez_pd.index[entrez_pd['Symbol'] == symbol].tolist()
    if entrez_index != []:
        entrez_ID = entrez_pd.get_value(entrez_index[0], "Entrez_ID")
        mut_pd["entrez_id"].replace(symbol, entrez_ID, inplace=True)
    
    # if no entrez_id, drop row
    else:
        mut_pd.drop(mut_pd.index[mut_pd["hugo_gene_symbol"] == symbol], inplace = True)
mut_pd.head(n=5)

In [39]:
mut_filtered_pd = mut_pd[mut_pd["cell_line_feature"].str.contains("ANY_CODING_MUTATION")]
mut = mut_filtered_pd.as_matrix()
mut_filtered_pd.head()

,mutation_call,hugo_gene_symbol,cell_line_feature,index_ccl,entrez_id
0,CCLE Hybrid Capture Mutations,AAK1,AAK1_p._ANY_CODING_MUTATION,2;3;4;6;7;8;10;12;13;15;16;18;19;20;22;23;24;2...,22848.0
3,CCLE Hybrid Capture Mutations,AATK,AATK_p._ANY_CODING_MUTATION,38;60;72;114;126;145;149;157;183;207;226;269;3...,9625.0
4,CCLE Hybrid Capture Mutations,ABCA3,ABCA3_p._ANY_CODING_MUTATION,8;36;52;67;113;126;127;128;130;131;132;133;135...,21.0
9,CCLE Hybrid Capture Mutations,ABCC3,ABCC3_p._ANY_CODING_MUTATION,17;66;128;131;133;135;157;168;182;193;198;202;...,8714.0
10,CCLE Hybrid Capture Mutations,ABCC4,ABCC4_p._ANY_CODING_MUTATION,4;13;103;126;128;132;135;138;145;182;183;198;2...,10257.0

In [12]:
len(mut_filtered_pd["hugo_gene_symbol"].drop_duplicates())

1530

### Index CCL Conversion

---

In [13]:
index_pd = pd.read_csv('../Seashore-ludlow/v22.meta.per_cell_line.txt', sep ="\t")
correlation_pd = index_pd[["index_ccl", "master_ccl_id"]]
correlation = correlation_pd.as_matrix()
correlation_pd.head(n=10)

   index_ccl  master_ccl_id
0          1            144
1          2            475
2          3            528
3          4            571
4          5            572
5          6            678
6          7            720
7          8            852
8          9           1030
9         10           1051

In [14]:
# reformat array by ccl
mut_by_ccl = []
for row in range(0, len(mut)):
    for each_mut in mut[row][-2].split(";"):
        mut_by_ccl.append([int(each_mut), mut[row][1], mut[row][-1]])
mut_by_ccl_sorted = sorted(mut_by_ccl, key = lambda x: int(x[2]))
mut_sorted = np.array(mut_by_ccl_sorted)

# covert index ccl to master ccl id
corr_lst = list(correlation[:,0])
for mut_index, row in enumerate(mut_sorted):
    if int(row[0]) in correlation[:,0]:
        corr_index = corr_lst.index(int(row[0]))
        mut_sorted[mut_index, 0] = correlation[corr_index, 1]
print mut_sorted

[['852' 'ABCA3' '21.0']
 ['1091' 'ABCA3' '21.0']
 ['305' 'ABCA3' '21.0']
 ...,
 ['473' 'CDK11A' '728642.0']
 ['618' 'CDK11A' '728642.0']
 ['70' 'CDK11A' '728642.0']]

## Copy number  prep

---

In [15]:
copynum_pd = pd.read_csv('../Rees/v21.data.cnv_avg_log2.txt', skiprows = [0], sep ="\t", names = ["master_ccl_id", "entrez_id", "copy_num"])
copynum = copynum_pd.as_matrix()
copynum_pd.head(n=10)

   master_ccl_id  entrez_id  copy_num
0              1          1    0.0661
1              1     503538    0.0661
2              1      29974   -0.0080
3              1          2   -0.0233
4              1     144571   -0.0233
5              1     144568   -0.0233
6              1          3   -0.0233
7              1      53947    0.0229
8              1      51146   -0.0459
9              1  100506677   -0.0143

In [16]:
master_ccl = copynum_pd["entrez_id"].drop_duplicates()
print "Unique Genes: ", len(master_ccl)
print "Total data points: ", len(copynum_pd)

Unique Genes:  23174
Total data points:  19072202

## AUC prep

---

In [17]:
auc_pd = pd.read_csv('dataset1.csv', skiprows = [0,1], sep =",", 
                          names = ["Cclid", "Cellline", "Sites", "Histology", "Subhistology", "Culture", "SNP", "AUC"])
auc = auc_pd.as_matrix()
auc_pd.head(n=10)

,Cclid,Cellline,Sites,Histology,Subhistology,Culture,SNP,AUC
0,3,5637,urinary_tract,carcinoma,NS,RPMI001,SNP-matched-reference,2.473
1,7,22RV1,prostate,carcinoma,NS,RPMI001,SNP-matched-reference,2.142
2,10,42MGBA,central_nervous_system,glioma,astrocytoma_Grade_IV,RPMIMEM001,SNP-matched-reference,3.380
3,15,647V,urinary_tract,carcinoma,transitional_cell_carcinoma,DMEM011,SNP-matched-reference,3.374
4,16,769P,kidney,carcinoma,clear_cell_renal_cell_carcinoma,RPMI001,SNP-matched-reference,3.123
5,19,786O,kidney,carcinoma,clear_cell_renal_cell_carcinoma,RPMI001,SNP-matched-reference,3.779
6,21,8505C,thyroid,carcinoma,anaplastic_carcinoma,EMEM001,SNP-matched-reference,3.471
7,22,8MGBA,central_nervous_system,glioma,astrocytoma_Grade_IV,EMEM005,SNP-matched-reference,2.625
8,23,A101D,skin,malignant_melanoma,NS,DMEM001,SNP-matched-reference,4.677
9,25,A172,central_nervous_system,glioma,astrocytoma_Grade_IV,DMEM001,SNP-matched-reference,2.751

## Dataset Compilation

---

In [18]:
def intersect (first, second, combined, toggle, type_var):
    if toggle == 1:
        first = list(set(first[:,0]))
        second = list(set(second[:,0]))
    for row in first:
        if type_var == "str":
            if str(row) in second:
                combined.append(row)
        if type_var == "float":
            if float(row) in second:
                combined.append(row)
        if type_var == "int":
            if int(row) in second:
                combined.append(row)
    return combined, len(combined)

In [19]:
auc_mut, mut_copynum, auc_mut_copynum = [], [], []

auc_mut_lst, auc_mut_len = intersect (auc, mut_sorted, auc_mut, 1, "str")
mut_copynum_lst, mut_copynum_len = intersect (auc, copynum, mut_copynum, 1, "float")
all_overlap, all_len = intersect (auc_mut_lst, mut_copynum_lst, auc_mut_copynum, 0, "int")

print "Total Number of Master CCL Ids: " + str(all_len)

Total Number of Master CCL Ids: 472

In [20]:
all_sorted = np.sort(all_overlap)
compiled_pd = pd.DataFrame([], [], all_sorted)
compiled_pd['Entrez_id'] = []
compiled_pd

Empty DataFrame
Columns: [3, 7, 10, 15, 16, 19, 21, 22, 23, 25, 26, 27, 28, 29, 33, 37, 41, 43, 44, 47, 50, 52, 53, 55, 57, 59, 64, 66, 67, 69, 70, 71, 90, 97, 99, 101, 102, 103, 109, 110, 112, 113, 117, 118, 120, 122, 123, 125, 126, 128, 129, 131, 138, 139, 141, 144, 146, 147, 149, 158, 160, 162, 170, 172, 185, 186, 188, 190, 201, 202, 205, 208, 211, 212, 215, 219, 225, 230, 232, 233, 234, 236, 237, 238, 246, 247, 248, 255, 257, 258, 261, 262, 264, 265, 268, 271, 274, 280, 281, 293, ...]
Index: []

[0 rows x 473 columns]

In [21]:
file_name = "all_overlap"
with open(file_name,'wb') as my_file_obj:
    pickle.dump(compiled_pd,my_file_obj)

### Mutation Expansion

---

In [22]:
#Data saved in mutation.txt - no need to rerun

# entrez_list = list(set(mut_sorted[:,2]))
# for id_index, each_id in enumerate(entrez_list):
#     val = [int(i) for i,j,k in mut_sorted if k == each_id]
#     new_row = np.sort(all_overlap)
#     for index, entry in enumerate(new_row):
#         if entry in val:
#             new_row[index] = 1
#         else: 
#             new_row[index] = 0
#     new_row = np.append(new_row, float(each_id))
#     compiled_pd.loc[id_index] = new_row

# np.savetxt('mutation.csv', compiled_pd)
# compiled_pd.head(n=10)

In [23]:
headers_pd = np.append(all_sorted, "Entrez_id")
mutation_expanded_pd = pd.read_csv('mutation.csv', sep = " ", names = headers_pd)
mutation_expanded_pd["Entrez_id"] = mutation_expanded_pd.Entrez_id.astype(int)
mutation_expanded_pd.set_index('Entrez_id', inplace=True)
mutation_expanded_trans_pd = mutation_expanded_pd.transpose()
print np.shape(mutation_expanded_trans_pd)
mutation_expanded_trans_pd.head()

(472, 1530)

Entrez_id,890,4478,2317,6790,120892,4342,4739,6498,8313,10298,...,6608,8522,2885,2161,27255,23072,6725,9149,6241,8301
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
file_name = "mutation_pd"
with open(file_name,'wb') as my_file_obj:
    pickle.dump(mutation_expanded_trans_pd,my_file_obj)

### Copy number expansion

---

In [25]:
copynum_expand_pd = pd.read_csv('cndata472_fixed.csv', sep =",")
print np.shape(copynum_expand_pd)
copynum_expand_pd.head()

(23174, 473)

,3,7,10,15,16,19,21,22,23,25,...,155493,155498,155502,155505,155510,155511,155513,155518,155520,Entrez_id
0,-0.0324,-0.0762,0.0346,0.2934,0.0463,-0.2432,0.0985,-0.1109,0.1655,0.7457,...,0.0449,0.7539,0.2257,-0.4485,0.6030,0.1019,0.2509,0.2151,-0.4925,1
1,-0.0324,-0.0762,0.0346,0.2934,0.0463,-0.2432,0.0985,-0.1109,0.1655,0.7457,...,0.0449,0.7539,0.2257,-0.4485,0.6030,0.1019,0.2509,0.2151,-0.4925,503538
2,-0.4928,-0.0025,-0.0522,-0.3050,0.0436,0.1438,-0.3561,-0.1415,-0.3390,-0.1974,...,0.2115,-0.4515,-0.6989,-0.2394,-0.6309,0.1249,0.2204,0.0812,0.3083,29974
3,-0.0657,0.4486,-0.3816,0.1603,-0.0112,0.0006,-0.1888,-0.1786,0.2086,-0.8266,...,0.2944,0.4668,-0.7178,0.0167,0.1509,0.3356,-0.5784,0.0759,0.1633,2
4,-0.0657,0.4486,-0.3816,0.1603,-0.0112,0.0006,-0.1888,-0.1786,0.2086,-0.8266,...,0.2944,0.4668,-0.7178,0.0167,0.1509,0.3356,-0.5784,0.0759,0.1633,144571

In [26]:
copynum_expand_pd["Entrez_id"] = copynum_expand_pd.Entrez_id.astype(int)
copynum_expand_pd.set_index('Entrez_id', inplace=True)
copynum_expand_trans_pd = copynum_expand_pd.transpose()
print np.shape(copynum_expand_trans_pd)
copynum_expand_trans_pd.head()

(472, 23174)

Entrez_id,1,503538,29974,2,144571,144568,3,53947,51146,100506677,...,90834,91149,91316,91450,91948,92249,92973,93432,93622,96610
3,-0.0324,-0.0324,-0.4928,-0.0657,-0.0657,-0.0657,-0.0657,-0.0390,0.0518,0.4291,...,-0.0390,0.0865,0.3492,-0.0328,0.0134,0.0068,0.3753,0.3447,-0.5221,0.3231
7,-0.0762,-0.0762,-0.0025,0.4486,0.4486,0.4486,0.4486,-0.0574,-0.0303,-0.0712,...,-0.0574,-0.9972,0.0626,-0.0705,-0.0705,-0.0164,-0.0542,0.4749,-0.0770,0.0626
10,0.0346,0.0346,-0.0522,-0.3816,-0.3816,-0.3816,-0.3816,-0.0155,-0.2675,-0.7758,...,-0.0155,0.3231,-0.0227,0.0947,0.1348,0.3855,-0.2897,-0.4246,-0.0198,0.0390
15,0.2934,0.2934,-0.3050,0.1603,0.1603,0.1603,0.1603,-0.2881,0.2831,0.0613,...,-0.4840,-0.2420,-0.4661,-0.3308,-0.3570,-0.0185,-0.2710,-0.4542,-0.3288,-0.4152
16,0.0463,0.0463,0.0436,-0.0112,-0.0112,-0.0112,-0.0112,0.0834,0.0468,0.0528,...,0.0834,0.0290,0.1263,0.0286,0.0330,0.0037,0.0684,0.0400,0.0982,0.1263

In [27]:
file_name = "copynum_pd"
with open(file_name,'wb') as my_file_obj:
    pickle.dump(copynum_expand_trans_pd,my_file_obj)

### Insert AUC

---

In [28]:
compiled_pd = copynum_expand_trans_pd.merge(mutation_expanded_trans_pd, how="outer", left_index = True, right_index = True)
print np.shape(compiled_pd)
compiled_pd.head()

(472, 24704)

Entrez_id,1,503538,29974,2,144571,144568,3,53947,51146,100506677,...,6608_y,8522_y,2885_y,2161_y,27255_y,23072_y,6725_y,9149_y,6241_y,8301_y
3,-0.0324,-0.0324,-0.4928,-0.0657,-0.0657,-0.0657,-0.0657,-0.0390,0.0518,0.4291,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,-0.0762,-0.0762,-0.0025,0.4486,0.4486,0.4486,0.4486,-0.0574,-0.0303,-0.0712,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0346,0.0346,-0.0522,-0.3816,-0.3816,-0.3816,-0.3816,-0.0155,-0.2675,-0.7758,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.2934,0.2934,-0.3050,0.1603,0.1603,0.1603,0.1603,-0.2881,0.2831,0.0613,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0463,0.0463,0.0436,-0.0112,-0.0112,-0.0112,-0.0112,0.0834,0.0468,0.0528,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
inttotest = 6608
compiled_pd[[col for col in compiled_pd.columns if (str(col).startswith(str(inttotest)+"_") or str(col) == str(inttotest))]].head()

Entrez_id  6608_x  6608_y
3          0.3731     0.0
7          0.4749     0.0
10        -0.4292     0.0
15         0.0254     0.0
16         0.0400     0.0

In [30]:
for cclid in auc_pd["Cclid"]:
    if cclid not in all_sorted:
        auc_pd.drop(auc_pd.index[auc_pd["Cclid"] == cclid], inplace = True)
auc_lst = list(auc_pd["AUC"])
compiled_pd["AUC"] = auc_lst
print np.shape(compiled_pd)
compiled_pd.head()

(472, 24705)

Entrez_id,1,503538,29974,2,144571,144568,3,53947,51146,100506677,...,8522_y,2885_y,2161_y,27255_y,23072_y,6725_y,9149_y,6241_y,8301_y,AUC
3,-0.0324,-0.0324,-0.4928,-0.0657,-0.0657,-0.0657,-0.0657,-0.0390,0.0518,0.4291,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.473
7,-0.0762,-0.0762,-0.0025,0.4486,0.4486,0.4486,0.4486,-0.0574,-0.0303,-0.0712,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.142
10,0.0346,0.0346,-0.0522,-0.3816,-0.3816,-0.3816,-0.3816,-0.0155,-0.2675,-0.7758,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.380
15,0.2934,0.2934,-0.3050,0.1603,0.1603,0.1603,0.1603,-0.2881,0.2831,0.0613,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.374
16,0.0463,0.0463,0.0436,-0.0112,-0.0112,-0.0112,-0.0112,0.0834,0.0468,0.0528,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.123

In [24]:
file_name = "datamaster"
with open(file_name,'wb') as my_file_obj:
    pickle.dump(compiled_pd,my_file_obj)